build/
*.sublime-workspace
*.jar
*.class
report/*
!report/*.tex
!report/*.bib
!report/uml
*.pdf
/bin/
.project
.classpath
.externalToolBuilders
puzzlesolvershouldwork.txt
eclipse_build
out.txt
benchmark/*
!benchmark/README
